
.hero-section {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../imeges/bg-hero.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    max-width: 450px;
    height: 400px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

    .container {
    padding-top: 16px;
    padding-bottom: 15px;
}

.hero-title {
    margin-top: 118px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
}

.button.primary {
            display: block;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-right: auto;
            font-family: "Roboto",
            sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: 0.06em;
            color: var(--hover-link-color);
            background: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: 0px;
            border-radius: 4px;
            padding: 10px 32px;
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-widch: 768px) {
    .hero-section {
        width: 768px;
    }

}

//     & .container {
//         padding-top: 200px;
//         padding-bottom: 200px;
//         & .button.primary {
//             display: block;
//             margin-top: 30px;
//             margin-left: auto;
//             margin-right: auto;

//             & {
//                 font-family: "Roboto", sans-serif;
//                 font-style: normal;
//                 font-weight: 700;
//                 font-size: 16px;
//                 line-height: 1.87;
//                 letter-spacing: 0.06em;
//                 color: var(--hover-link-color);
//                 background: var(--accent-color);
//                 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//                 border: 0px;
//                 border-radius: 4px;
//                 padding: 10px 32px;
//                 transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//             }
//         }
//     }
//     & .hero-title {
//         font-style: normal;
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         text-align: center;
//         color: #ffffff;
//     }
// }
